Repository natelandau/halp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pytest

mypy:
  name: mypy
  entry: mypy --config-file pyproject.toml
  language: system

pytest:
  name: pytest
  entry: pytest -c pyproject.toml src/
  language: system
  pass_filenames: false

fix: correct environment variable prefix
  .github/workflows/create-release.yml
  src/halper/utils/config.py
Due: mypy, pytest

fix: create data dir before creating database
  .gitignore
  duties.py
  pyproject.toml
  src/halper/utils/database.py
Due: mypy, pytest

bump(release): v2.0.1 → v2.0.2
  CHANGELOG.md
  pyproject.toml
Due: pytest

build(deps): bump dependencies
  .github/workflows/test.yml
  .pre-commit-config.yaml
  duties.py
  pyproject.toml
  uv.lock
Due: pytest

build(deps): bump dependencies (#49)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  duties.py
  pyproject.toml
  uv.lock
Due: pytest

ci: update workflows
  .github/actions/setup_python_env/action.yml
  .github/labeler.yml
  .github/workflows/create-release.yml
  .github/workflows/labeler.yml
  .github/workflows/manual_pypy_publish.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: pytest

refactor: migrate to nclutils
  pyproject.toml
  src/halper/cli/config.py
  src/halper/cli/helpers.py
  src/halper/cli/hide.py
  src/halper/cli/list.py
  src/halper/cli/search.py
  src/halper/cli/unhide.py
  src/halper/controllers/db_queries.py
  src/halper/controllers/indexer.py
  src/halper/halp.py
  src/halper/models/parser.py
  src/halper/utils/__init__.py
  src/halper/utils/config.py
  src/halper/utils/database.py
  src/halper/utils/mankier.py
  src/halper/utils/printer.py
  src/halper/utils/utilities.py
  src/halper/views/commands.py
  src/halper/views/indexer.py
  tests/conftest.py
  uv.lock
Due: mypy, pytest

refactor: migrate to nclutils (#50)
  pyproject.toml
  src/halper/cli/config.py
  src/halper/cli/helpers.py
  src/halper/cli/hide.py
  src/halper/cli/list.py
  src/halper/cli/search.py
  src/halper/cli/unhide.py
  src/halper/controllers/db_queries.py
  src/halper/controllers/indexer.py
  src/halper/halp.py
  src/halper/models/parser.py
  src/halper/utils/__init__.py
  src/halper/utils/config.py
  src/halper/utils/database.py
  src/halper/utils/mankier.py
  src/halper/utils/printer.py
  src/halper/utils/utilities.py
  src/halper/views/commands.py
  src/halper/views/indexer.py
  tests/conftest.py
  uv.lock
Due: mypy, pytest

ci: refactor workflows and update dependencies
  .cursor/rules/all_python_rules.mdc
  .cursor/rules/architecture-principles.mdc
  .cursor/rules/comment-usage.mdc
  .cursor/rules/cursor-rule-location.mdc
  .cursor/rules/project-technology-stack.mdc
  .cursor/rules/pytest-test-rules.mdc
  .cursor/rules/python-docstring-rules.mdc
  .cursor/rules/python-naming-conventions.mdc
  .cursor/rules/use-pathlib.mdc
  .github/actions/setup_python_env/action.yml
  .github/workflows/create-release.yml
  .github/workflows/manual_pypy_publish.yml
  .github/workflows/reusable-tests.yml
  .github/workflows/test.yml
  .gitignore
  .pre-commit-config.yaml
  pyproject.toml
  src/halper/cli/hide.py
  src/halper/cli/list.py
  src/halper/cli/search.py
  src/halper/cli/unhide.py
  src/halper/models/command.py
  src/halper/utils/text_parsers.py
  tests/conftest.py
  uv.lock
Due: mypy, pytest

ci: refactor workflows and update dependencies (#51)
  .cursor/rules/all_python_rules.mdc
  .cursor/rules/architecture-principles.mdc
  .cursor/rules/comment-usage.mdc
  .cursor/rules/cursor-rule-location.mdc
  .cursor/rules/project-technology-stack.mdc
  .cursor/rules/pytest-test-rules.mdc
  .cursor/rules/python-docstring-rules.mdc
  .cursor/rules/python-naming-conventions.mdc
  .cursor/rules/use-pathlib.mdc
  .github/actions/setup_python_env/action.yml
  .github/workflows/create-release.yml
  .github/workflows/manual_pypy_publish.yml
  .github/workflows/reusable-tests.yml
  .github/workflows/test.yml
  .gitignore
  .pre-commit-config.yaml
  pyproject.toml
  src/halper/cli/hide.py
  src/halper/cli/list.py
  src/halper/cli/search.py
  src/halper/cli/unhide.py
  src/halper/models/command.py
  src/halper/utils/text_parsers.py
  tests/conftest.py
  uv.lock
Due: mypy, pytest

build(deps): bump dependencies
  .github/actions/setup_python_env/action.yml
  .github/workflows/commit-linter.yml
  .github/workflows/create-release.yml
  .github/workflows/pr-linter.yml
  .gitignore
  .pre-commit-config.yaml
  pyproject.toml
  tests/conftest.py
  uv.lock
Due: pytest

build(deps): bump dependencies (#52)
  .github/actions/setup_python_env/action.yml
  .github/workflows/commit-linter.yml
  .github/workflows/create-release.yml
  .github/workflows/pr-linter.yml
  .gitignore
  .pre-commit-config.yaml
  pyproject.toml
  tests/conftest.py
  uv.lock
Due: pytest

fix(deps): support peewee v4.0 sqllite engine
  .github/actions/setup_python_env/action.yml
  .github/workflows/commit-linter.yml
  .github/workflows/create-release.yml
  .github/workflows/pr-linter.yml
  .github/workflows/reusable-tests.yml
  .github/workflows/test.yml
  .gitignore
  .pre-commit-config.yaml
  .typos.toml
  .yamllint.yml
  CONTRIBuTING.md
  duties.py
  pyproject.toml
  src/halper/controllers/indexer.py
  src/halper/models/category.py
  src/halper/models/command.py
  src/halper/models/file.py
  src/halper/utils/database.py
  src/halper/utils/mankier.py
  tests/conftest.py
  uv.lock
Due: mypy, pytest

fix(deps): support peewee v4.0 sqllite engine (#55)
  .github/actions/setup_python_env/action.yml
  .github/workflows/commit-linter.yml
  .github/workflows/create-release.yml
  .github/workflows/pr-linter.yml
  .github/workflows/reusable-tests.yml
  .github/workflows/test.yml
  .gitignore
  .pre-commit-config.yaml
  .typos.toml
  .yamllint.yml
  CONTRIBuTING.md
  duties.py
  pyproject.toml
  src/halper/controllers/indexer.py
  src/halper/models/category.py
  src/halper/models/command.py
  src/halper/models/file.py
  src/halper/utils/database.py
  src/halper/utils/mankier.py
  tests/conftest.py
  uv.lock
Due: mypy, pytest

fix(build): support python v3.14
  .github/workflows/reusable-tests.yml
  .gitignore
  pyproject.toml
Due: pytest

fix(build): support python v3.14 (#56)
  .github/workflows/reusable-tests.yml
  .gitignore
  pyproject.toml
Due: pytest

bump(release): v2.0.2 → v2.0.3
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: pytest

test: use pytest-devtools
  .pre-commit-config.yaml
  pyproject.toml
  tests/cli/config_test.py
  tests/cli/halp_test.py
  tests/cli/hide_test.py
  tests/cli/index_test.py
  tests/cli/list_test.py
  tests/cli/search_test.py
  tests/conftest.py
  uv.lock
Due: pytest

test: use pytest-devtools (#58)
  .pre-commit-config.yaml
  pyproject.toml
  tests/cli/config_test.py
  tests/cli/halp_test.py
  tests/cli/hide_test.py
  tests/cli/index_test.py
  tests/cli/list_test.py
  tests/cli/search_test.py
  tests/conftest.py
  uv.lock
Due: pytest

fix(build): support nclutils >= v3.0.0
  .pre-commit-config.yaml
  pyproject.toml
  src/halper/cli/config.py
  src/halper/cli/helpers.py
  src/halper/cli/hide.py
  src/halper/cli/list.py
  src/halper/cli/search.py
  src/halper/utils/config.py
  src/halper/views/commands.py
  src/halper/views/indexer.py
  tests/cli/index_test.py
  tests/cli/list_test.py
  tests/cli/search_test.py
  uv.lock
Due: mypy, pytest

fix(build): support nclutils >= v3.0.0 (#59)
  .pre-commit-config.yaml
  pyproject.toml
  src/halper/cli/config.py
  src/halper/cli/helpers.py
  src/halper/cli/hide.py
  src/halper/cli/list.py
  src/halper/cli/search.py
  src/halper/utils/config.py
  src/halper/views/commands.py
  src/halper/views/indexer.py
  tests/cli/index_test.py
  tests/cli/list_test.py
  tests/cli/search_test.py
  uv.lock
Due: mypy, pytest

bump(release): v2.0.3 → v2.0.4
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: pytest

ci: update dependabot config
  .github/dependabot.yml
Due: none

build(deps): bump dependencies
  .pre-commit-config.yaml
  pyproject.toml
  src/halper/cli/list.py
  src/halper/cli/search.py
  src/halper/controllers/indexer.py
  src/halper/models/category.py
  src/halper/models/command.py
  src/halper/utils/database.py
  uv.lock
Due: mypy, pytest

Path conditions:
  mypy: any of: \.py$, but not: tests/|duties.py
  pytest: any of: (?x)^(
src/|
tests/|
uv\.lock|
pyproject\.toml
)

